body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:62px;
}
#u204 {
  position:absolute;
  left:120px;
  top:294px;
  width:81px;
  height:62px;
}
#u205 {
  position:absolute;
  left:2px;
  top:23px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#009933;
}
#u206 {
  position:absolute;
  left:232px;
  top:311px;
  width:705px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#009933;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  white-space:nowrap;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u208 {
  position:absolute;
  left:312px;
  top:385px;
  width:467px;
  height:38px;
  font-size:16px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
